.liaison-arret-cntainer{
    background-color: purple;
}
.arretIndex{
    width: 100%;
}

.emptyGraphe{
    width: 100%;
}

.ctn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.ctn1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}